@import './base.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
	/* font-weight: normal; */
}

header {
	display: flex;
	align-items: center;
	height: 100vh;
}

@media screen and (max-width: 1400px) {
  #app {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 700px) {
  header {
    align-items:start;
    padding-top: 6rem;
  }
}
/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
